.container {
  width: calc(100% - 40px);
  margin: 0 auto;
}

.columns {
  display: flex;
  flex-wrap: wrap;
}

.box {
  width: 250px;
}

h3 {
  display: inline-block;
  margin-right: 8px;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 50px;
}

input {
  font-size: 36px;
  outline: none;
  border: none;
  border-bottom: 2px solid #A9A9A9;
  width: 100%;
}
