extend ./layout

block content
  input(placeholder='Enter an icelandic word...', type='search', data-bind="value: query, valueUpdate: 'keyup'", autocomplete='off' autofocus=true)

  .columns(data-bind="foreach: words")
    .box
      div(data-bind="foreach: results")
        //h1(data-bind="text: word_form")
        h3
          span(data-bind='text: head_word')
        em(data-bind='text: en.word_class')
